/*UNIVERSAL STYLES*/
html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #3a3a3a;
}

h2 {
  font-size: 2rem;
}

/*HEADER STYLES*/
header {
  flex-basis: 73.6rem;
  height: 4rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin: 0;
  z-index: 20;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo h1 {
  display: inline;
  text-transform: uppercase;
  margin-left: 0px;
  font-size: 1.25rem;
  font-weight: lighter;
  color: #000000;
}

header .logo h1:last-child {
  color: #c1c1c1;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 16px;
}

/*BANNER SECTION STYLES*/
.banner {
  background-color: #d1d1d1;
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-caption {
  margin-left: 1rem;
}

.banner a {
  display: block;
  background-color: #3a3a3a;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: .5rem 0;
  width: 90%;
}

/*INFORMATION SECTION STYLES*/
.information {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
}

.info-left {
  width: 60%;
  margin: 2rem 1.5rem;
  display: inline-block;
}

.info-left img {
  width: 100%;
}

.quoted {
  font-size: .75rem;
}

.info-right {
  width: 35%;
  display: inline-block;
  flex-direction: column;
  border: 1px solid #d1d1d1;
}

.detail {
  min-width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #d1d1d1;
}

.detail img {
  width: 35%;
  margin: 1rem;
}

.detail h3 {
  font-size: 1rem;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h3 {
  margin-bottom: .25rem;
}

.info p {
  font-size: .75rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.info a {
  font-size: .75rem;
  color: #34a7f9;
  text-decoration: none;
}

.info-right div:nth-child(3n + 0) {
  background-color: #d1d1d1;
}

.info-right div:nth-child(3n + 0) p {
  margin: .5rem 0;
}
